*{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	margin:0;
	padding:0;
}
body{
	background-color:#F4F4F4;
	color: #222020;
}
body.menu_body{
	background: #FFFFFF;
}
iframe{
	border: 0px;
	height: 24px;
	width: 100%;
}
header{
	width: 100%;
	height: 100px;
	padding-top: 30px;
	left: 0px;
	top: 0px;
	background: #FFFFFF;
	box-shadow: 0px 3px 3px rgba(41, 41, 90, 0.1);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #222020;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
input:read-only {
    opacity: 0.6;
}
.hide{
	display:none;
}
.content{
	margin:43px 0;
	background-color: #fff;
	padding: 20px;
}
.right{
	float:right;
}
.center{
    width:1170px;
    margin-left: calc( 50% - 585px );
}
.navbar div{
	width: auto;
	margin-right: 30px;
	display:inline-block;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	background-repeat: no-repeat;
}
.navbar div a{
	color:#47AFE1;
	text-decoration: none;
}
.navbar a.active,.navbar a:hover{
		color: #222020;
}
.title_block{
	width:100%;
	margin-top: 10px;
}
.page_title{
	font-size: 48px;
	height: 57px;
	line-height: 57px;
	color: #222020;
	float:left;
}
.page_title.lite{
	color: #828282;
}
input:focus,
textarea:focus {
    outline-width: 0;
}
input, textarea {outline:none;}
input{
	width: 390px;
	height: 48px;
	background: #FFFFFF;
	border: 2px solid #F4F4F4;
	box-sizing: border-box;
	border-radius: 5px;
	line-height: 24px;
	font-size: 16px;
	padding: 0 15px;
	color: #222020;
}
input:focus{
	background-color: #FFFFFF;
	border: 2px solid #0164D8;
	box-sizing: border-box;
	border-radius: 5px;
}
input:focus:read-only{
	border: 2px solid #F4F4F4;
}
.one_line{
	margin-bottom: 10px;
	height: 48px;
	display: flex;
}
.one_line span{
		display:block;
		line-height: 48px;
}
.one_line span:first-child{
		width: 100px;
}
.about_title{
		font-size: 36px;
		margin-bottom: 15px;
}
.about_title:not(:first-child){
		margin-top:30px;
}
pre{
	margin-top: -20px;
}
p{
	font-size: 16px;
	margin-bottom: 10px;
}
p.little_title{
	font-size: 20px;
	font-weight: bold;
}
.ijs_js_example p.little_title{
	margin-bottom: 10px;
}
p.desc{
	margin-top: -10px;
}
p.small{
	font-size: 12px;
	color:#333;
}
ul{
	margin-left: 20px;
	margin-bottom: 10px;
}
ul li b{ font-weight: 400; }
p.code{
		background-color: #efe;
		padding: 10px 20px;
}
p.code .red{ color: #e45649; }
p.code .orange{ color:#DAA520; }
p.code .green{ color:#50a14f; }
p.code .blue{ color:#1E90FF; }
p.code .violet{ color:#483D8B; }
p.code .yellow{ color:#FFD700; }
.with_padding{
		margin-top:30px;
}
.simple{
		padding: 15px 30px;
		margin: 20px 0;
		margin-bottom: 50px;
		background-color: #fafafa;
}
.btn_block{
		min-height: 48px;
		margin-top:30px;
}
.btn{
		display: block;
		box-shadow: 0 4px 0 #f0f0f0;
		background-color: #fafafa;
		height: 48px;
		line-height: 48px;
		width: 200px;
		text-align: center;
		border-radius: 5px;
		color: #333;
		text-decoration: none;
		cursor: pointer;
}
.btn:hover{
	background-color: #f0f0f0;
}
.btn.small{
		width: 100px;
		height: 24px;
		line-height: 24px;
}
.btn_blue{
		background-color: #5EC3F4;
		box-shadow: 0 4px 0 #47AFE1;
		color: #fff;
}
.btn_blue:hover{
		background-color: #47AFE1;
}
.example_image{
		border-radius: 50%;
		overflow: hidden;
		width:150px;
		height: 150px;
}
.example_image img{
		max-width: 100%;
		max-height: 100%;
}
.ijs_view,.ijs_update,.ijs_review{
	padding: 10px 20px;
	background-color: #efefef;
}
/* .demonstration_block .ijs_view{
	background-color: #efefef;
} */
.demonstration_block{
	margin-bottom: 30px;
}
.show_demonstration_block{
	font-size: 78px;
	font-weight: 100;
	color: #999;
	line-height: 200px;
	cursor:pointer;
}
.show_demonstration_block:hover{
		color:#666;
}
.hide_demonstration_block{
		background-color: #f9f9f9;
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
}
.hide_demonstration_block .one_example{
	padding: 0 20px;
}
.pagination_demonstration_block{
		display: flex;
		border-bottom: 1px solid #ccc;
		margin: 20px 0 30px;
		background-color: #fff;
}
.pagination_demonstration_block div{
		padding: 0 10px;
		margin-right: 10px;
		cursor: pointer;
		border-bottom: 1px solid #ccc;
		margin-bottom: -1px;
}
.pagination_demonstration_block div:hover{
		color:#47AFE1;
}
.pagination_demonstration_block div.active{
		color:#47AFE1;
		border-bottom: 1px solid #47AFE1;
}
.inst_feed .ijs_list_block{
		display: flex;
		flex-flow: row wrap;
}
.inst_feed .post_row{
		width: calc( 24.25% - 20px );
		background-color: #f9f9f9;
		border-radius: 5px;
		margin-right: 1%;

		margin-bottom: 10px;
		padding: 10px;
}
.inst_feed .post_row:nth-child(4n+4){
		margin-right: 0;
}
.inst_feed .post_row .inst_image{
		width: 100%;
}
.inst_feed .post_row .inst_image img{
		width: 100%;
}
.inst_feed .post_row .info_block{
		display: flex;
}
.inst_feed .post_row .info_block .one_info_block{
		width: 50%;
		font-size: 12px;
}
.inst_feed .post_row .info_block .one_info_block:last-child{
		text-align: right;
}
.inst_feed .post_row .caption{
		margin-top:10px;
}
